#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
  }
  
  #progress-wrp .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
  }
  
  #progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
  }

  .folder {
  height: 100px;
  padding: 10px !important;
}

.folder > div > * {
    line-height: 10rem !important;
}

.folder > div.data {
  text-align: center;
}

.folder: {
  color: white !important;
}



.col-primary {
  background-color: #007bff
}

.col-secondary {
  background-color: #6c757d
}

.col-success {
  background-color: #28a745
}

.col-info {
  background-color: #17a2b8
}

.col-warning {
  background-color: #ffc107
}

.col-danger {
  background-color: #dc3545
}


footer {
	background-color: blue;
	height: 10px;
	width: 100vw;
	bottom: 0;
	position: fixed;
}
